<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <!-- по ключу 'contextConfigLocation' из ServletContext можно вычитать -->
    <!-- String appCtx = ServletContext().getInitParameter("contextConfigLocation") -->
    <!-- Так делает DependencyInjectionServlet, чтобы узнать, где лежит файл -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <!--<param-value>/appContext-dao.xml</param-value>-->
        <!--<param-value>/appContext-dao-aop-schema.xml</param-value>-->
        <!--<param-value>/appContext-dao-external-tx.xml</param-value>-->
        <param-value>/appContext-dao-external-tx-pool.xml</param-value>
        <!--<param-value>/appContext-dao-spring.xml</param-value>-->
    </context-param>


    <!--CONTROLLERS-->
    <!--product-->
    <servlet>
        <servlet-name>productController</servlet-name>
        <!--<servlet-class>com.gabriel.eshop.controller.ProductController</servlet-class>-->
        <servlet-class>com.gabriel.eshop.controller.ProductControllerExternalTx</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productController</servlet-name>
        <url-pattern>/product.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>productAll</servlet-name>
        <!--<servlet-class>com.gabriel.eshop.controller.ProductAllController</servlet-class>-->
        <servlet-class>com.gabriel.eshop.controller.ProductAllControllerExternalTx</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productAll</servlet-name>
        <url-pattern>/productAll.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>productAddToBucket</servlet-name>
        <servlet-class>com.gabriel.eshop.controller.ProductAddToBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productAddToBucket</servlet-name>
        <url-pattern>/productAddToBucket.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>productRemoveFromBucket</servlet-name>
        <servlet-class>com.gabriel.eshop.controller.ProductRemoveFromBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productRemoveFromBucket</servlet-name>
        <url-pattern>/productRemoveFromBucket.do</url-pattern>
    </servlet-mapping>
    <!--demo-->
    <servlet>
        <servlet-name>demoController</servlet-name>
        <servlet-class>com.gabriel.eshop.controller.demo.DemoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>demoController</servlet-name>
        <url-pattern>/demo.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mvcDemoController</servlet-name>
        <servlet-class>com.gabriel.eshop.controller.demo.MVCDemoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mvcDemoController</servlet-name>
        <url-pattern>/mvcDemoController.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sessionDemoController</servlet-name>
        <servlet-class>com.gabriel.eshop.controller.demo.SessionDemoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sessionDemoController</servlet-name>
        <url-pattern>/sessionDemo.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cookieDemoController</servlet-name>
        <servlet-class>com.gabriel.eshop.controller.demo.CookieDemoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cookieDemoController</servlet-name>
        <url-pattern>/cookieDemo.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>requestDemoController</servlet-name>
        <servlet-class>com.gabriel.eshop.controller.demo.RequestDemoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requestDemoController</servlet-name>
        <url-pattern>/request.do</url-pattern>
    </servlet-mapping>

    <!--&lt;!&ndash;FILTERS&ndash;&gt;-->
    <!--&lt;!&ndash;processing time&ndash;&gt;-->
    <!--<filter>-->
        <!--<filter-name>timeFilter</filter-name>-->
        <!--<filter-class>com.gabriel.eshop.filter.ProcessingTimeFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>timeFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->
    <!--&lt;!&ndash;request info&ndash;&gt;-->
    <!--<filter>-->
        <!--<filter-name>infoFilter</filter-name>-->
        <!--<filter-class>com.gabriel.eshop.filter.RequestInfoFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>infoFilter</filter-name>-->
        <!--<url-pattern>*.do</url-pattern>-->
        <!--<dispatcher>REQUEST</dispatcher>    &lt;!&ndash;to do&ndash;&gt;-->
    <!--</filter-mapping>-->
    <!--&lt;!&ndash;request info&ndash;&gt;-->
    <!--<filter>-->
        <!--<filter-name>attributesToSessionFilter</filter-name>-->
        <!--<filter-class>com.gabriel.eshop.filter.AddAttributesToSessionFilter</filter-class>-->
        <!--<init-param>-->
            <!--<param-name>filter-param-name-A</param-name>    &lt;!&ndash;to do&ndash;&gt;-->
            <!--<param-value>filter-param-value-A</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>filter-param-name-B</param-name>-->
            <!--<param-value>filter-param-value-B</param-value>-->
        <!--</init-param>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>attributesToSessionFilter</filter-name>-->
        <!--<servlet-name>demoController</servlet-name>-->
    <!--</filter-mapping>-->
     <!-- -->
    <!--&lt;!&ndash;LISTENERS&ndash;&gt;-->
    <!--<listener>-->
        <!--<listener-class>com.gabriel.eshop.listener.DemoHttpSessionActivationListener</listener-class>-->
    <!--</listener>-->
    <!--<listener>-->
        <!--<listener-class>com.gabriel.eshop.listener.DemoHttpSessionAttributeListener</listener-class>-->
    <!--</listener>-->
    <!--<listener>-->
        <!--<listener-class>com.gabriel.eshop.listener.DemoHttpSessionBindingListener</listener-class>-->
    <!--</listener>-->
    <!--<listener>-->
        <!--<listener-class>com.gabriel.eshop.listener.DemoHttpSessionListener</listener-class>-->
    <!--</listener>-->
    <!--<listener>-->
        <!--<listener-class>com.gabriel.eshop.listener.DemoServletContentListener</listener-class>-->
    <!--</listener>-->
    <!--<listener>-->
        <!--<listener-class>com.gabriel.eshop.listener.DemoServletContentAttributeListener</listener-class>-->
    <!--</listener>-->
    <!--<listener>-->
        <!--<listener-class>com.gabriel.eshop.listener.DemoServletRequestAttributeListener</listener-class>-->
    <!--</listener>-->
    <!--<listener>-->
        <!--<listener-class>com.gabriel.eshop.listener.DemoServletRequestListener</listener-class>-->
    <!--</listener>-->

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
